<html>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="padding-top:30px">
        <% if (message.length > 0) { %>
            <div class="alert alert-danger col-sm-12" ><%= message %></div>
        <% } else {%>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><%=item.ctitle%></h3>
                <h3 class="panel-title"><%=item.desc%></h3>
                <h3 class="panel-title"><%=item.image%></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/images/upload_images/<%=item.image%>" class="img-circle img-responsive"> </div>
                    <div class=" col-md-9 col-lg-9 ">

                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
</html>